<main class="site-main" id="main">
    <!-- Carousel -->
    <div class="carousel slide" data-ride="carousel" id=
    "carousel-example-captions">
      <ol class="carousel-indicators wow fadeInUp">
        <li class="active" data-slide-to="0" data-target=
        "#carousel-example-captions"></li>
        <li class="" data-slide-to="1" data-target=
        "#carousel-example-captions"></li>
        <li class="" data-slide-to="2" data-target=
        "#carousel-example-captions"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img alt="Prices starting from $49.99" class="wow pulse"
          data-wow-duration="3s" src="images/bg-1.jpg">
          <div class="carousel-caption">
            <h3 class="wow bounceInLeft" data-wow-duration="2s">Income Tax
            Returns</h3><br>
            <span class="wow bounceInRight" data-wow-duration="2s">Prices
            starting from $49.99.</span>
          </div>
        </div>
        <div class="item">
          <img alt="Affordable rates for students starting from $29.99." class=
          "wow pulse" data-wow-duration="3s" src="images/bg-2.jpg">
          <div class="carousel-caption">
            <h3 class="wow bounceInLeft" data-wow-duration="2s">Student Income
            Tax Return</h3><br>
            <span class="wow bounceInRight" data-wow-duration="2s">20 % off for students</span>
          </div>
        </div>
        <div class="item">
          <img alt="Hablamos Español/ Nous parlons Français" class="wow pulse"
          data-wow-duration="3s" src="images/bg-3.jpg">
          <div class="carousel-caption">
            <h3 class="wow bounceInLeft" data-wow-duration="2s">We speak your
            language</h3><br>
            <span class="wow bounceInRight" data-wow-duration="2s">Hablamos
            Español/ Nous parlons Français/ Mandarin</span>
          </div>
        </div>
      </div><a class="left carousel-control" data-slide="prev" href=
      "#carousel-example-captions"><span class="fa fa-chevron-left"></span></a>
      <a class="right carousel-control" data-slide="next" href=
      "#carousel-example-captions"><span class=
      "fa fa-chevron-right"></span></a>
    </div><!-- FORTAX, Here for you! -->
    <!-- <section id="fortax">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3>FORTAX, Here for you!</h3>
          </div>
          <div class="col-md-3 col-sm-3 wow bounceInLeft">
            <div class="col-md-12 col_img_fortax"><img alt=
            "Quick book certified" class="img-responsive intro-img" src=
            "images/col_new_clients.png"></div>
            <h4>New Clients</h4>
            <p class="col-pargraph">First time with FORTAX? Please bring your
            last year Income Tax Return.</p>
          </div>
          <div class="col-md-3 col-sm-3 wow bounceInUp">
            <div class="col-md-12 col_img_fortax"><img alt=
            "We speak your language" class="img-responsive intro-img" src=
            "images/col_multilingual_banner.png"></div>
            <h4>Multi-Language Services</h4>
            <p class="col-pargraph">As a Multilingual Company, FORTAX is proud
            to serve you in English, French, Spanish and Mandarin.</p>
          </div>
          <div class="col-md-3 col-sm-3 wow bounceInDown">
            <div class="col-md-12 col_img_fortax"><img alt="Helping hands"
            class="img-responsive intro-img" src=
            "images/col_help_others.jpg"></div>
            <h4>Help us help others</h4>
            <p class="col-pargraph">For every Income Tax Return, FORTAX will
            donate $1 to charity. We believe every person as the right to be
            happy. Help us make the difference!</p>
          </div>
          <div class="col-md-3 col-sm-3 wow bounceInRight">
            <div class="col-md-12 col_img_fortax"><img alt="tax is painful"
            class="img-responsive intro-img" src=
            "images/col_tax_painful.jpg"></div>
            <h4>Is Tax time painful?</h4>
            <p class="col-pargraph">Are you tired of spending hours trying to
            do your Income tax return? FORTAX will take the load off your
            shoulders.</p>
          </div>
        </div>
      </div>
    </section> --><!-- SERVICES -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3>Our Services</h3><!-- <p class="services-text">
                        We offer Income Tax return preparation services for Individuals.
                     </p> -->
          </div>
          <div class="col-md-3 col-sm-3 wow bounceInLeft">
            <p><span><i class="fa fa-file"></i></span></p>
            <h4>Preparation of Tax Returns</h4>
            <p>Our services include the preparation of your income tax return,
            EFILE to Government, communication with the ministry if required,
            assistance with audit should you need it.</p>
          </div>
          <div class="col-md-3 col-sm-3 wow bounceInUp">
            <p><span><i class="fa fa-line-chart"></i></span></p>
            <h4>MAXIMISE YOUR TAX REFUND</h4>
            <p>We can answer your tax questions, and off course provide a
            guaranteed maximum refund. Our goal is to offer high quality
            services to ascertain that everyone is satisfied with his/her
            return.</p>
          </div>
          <div class="col-md-3 col-sm-3 wow bounceInDown">
            <p><span><i class="fa fa-user"></i></span></p>
            <h4>INDIVIDUAL TAX FILING</h4>
            <p>We take care of numerous filing for individuals. Income tax
            return for individual (T1)<br>
            Student Income tax return (T1)<br>
            Sole proprietorship filling (T2125)</p>
          </div>
          <div class="col-md-3 col-sm-3 wow bounceInRight">
            <p><span><i class="fa fa-users"></i></span></p>
            <h4>Corporate Tax filing</h4>
            <p>We can also take care of your tax filing at your company.
            Contact us and we will be able to help you.<br>
            Tax return (T2)<br>
            Annual Resolutions<br>
            Financial Statements </p>
          </div>
        </div>
      </div>
    </section><!-- ABOUT US -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3>About Us</h3>
          </div>
          <div class="col-md-6 col-sm-6" id="about_us_col">
            <p class="about_us_text"><%= simple_format(@company.about_us) %></p><br>
            <p class="icon-about">
            <!-- <a href="#"><i class="fa fa-weibo"></i></a> -->
             <a href="https://www.facebook.com/Fortaxcorp"><i class=
            "fa fa-facebook-square"></i></a>
            <!-- <a href=""><i class="fa fa-twitter-square"></i></a>
                        <a href="#"><i class="fa fa-google-plus-square"></i></a>
                        <a href="#"><i class="fa fa-pinterest-square"></i></a> -->
             <a href="https://www.linkedin.com/company/fortax-corp-"><i class=
            "fa fa-linkedin"></i></a></p>
          </div>
        </div>
      </div>
    </section><!-- price -->
    <section class="pricing-1" id="ourPriceTax">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-8 col-md-offset-2">
            <h2>TAX RETURNS</h2>
            <hr class="primary">
            <p>There are two prices available to match your needs. Students get
            special discount, checkout the deals available.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-4 pricing-col wow fadeInLeft animated"
          data-scrollreveal="enter left over 1.5s" style=
          "visibility: visible;">
            <div class="pricing-table">
              <div class="pricing-heading" style=
              "background-image: url('./images/1.jpg')">
                <h2>Income Tax Return</h2>
              </div>
              <div class="content">
                <div class="price">
                  <% income_tax_return = LandingPageVariable.find_by_name("Income Tax Return") %>
                  <span class="amount"><%= income_tax_return.amount %></span> <span class="period"><%= income_tax_return.unit %></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 pricing-col wow fadeInRight animated"
          data-scrollreveal="enter right over 1.5s" style=
          "visibility: visible;">
            <div class="pricing-table">
              <div class="pricing-heading" style=
              "background-image: url('./images/2.jpg')">
                <h2>Student Tax Return</h2>
              </div>
              <div class="content">
                <div class="price">
                  <% student_tax_return = LandingPageVariable.find_by_name("Student Tax Return") %>
                  <span class="amount"><%= student_tax_return.amount %></span> <span class="period"><%= student_tax_return.unit %></span>
                </div>
              </div>
            </div>
          </div>
        </div><!-- end of row -->
      </div><!-- End of container -->
    </section>
    <!-- <hr class="primary-hr"> -->
    <section class="pricing-1" id="ourPriceBook">
      <div class="container">
        <!--<div class="row text-center">
          <div class="col-md-8 col-md-offset-2">
            <h2>BOOKKEEPING</h2>
            <hr class="primary">
            <p>Affordable prices for starters to big companies. <a href=
            "#contact">Contact us</a> should you need a different package to
            suit your business needs.</p>
          </div>
        </div>
        <div class="row bookkeeping-price-col wow fadeIn">
          <div class="col-md-3 pricing-col" data-scrollreveal=
          "enter right over 1.5s">
            <div class="pricing-table">
              <div class="pricing-heading" style=
              "background-image: url('images/1.jpg')">
                <h2>Starter</h2>
              </div>
              <div class="content">
                <div class="price">
                  <span class="amount">$150</span> <span class="period">per
                  month</span>
                </div>
                <ul class="pricing-items list-unstyled text-center">
                  <li class="item"><span class="text-primary">25</span>
                  Transactions</li>
                  <li class="item"><span class="text-primary">2</span>
                  Employees</li>
                  <li class="item"><span class="text-primary">2</span>
                  Credit/Bank accounts</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 pricing-col" data-scrollreveal=
          "enter bottom over 1.5s">
            <div class="pricing-table featured">
              <div class="pricing-heading" style=
              "background-image: url('images/2.jpg')">
                <h2>Small Business</h2>
              </div>
              <div class="content">
                <div class="price">
                  <span class="amount">$250</span> <span class="period">per
                  month</span>
                </div>
                <ul class="pricing-items list-unstyled text-center">
                  <li class="item"><span class="text-primary">50</span>
                  Transactions</li>
                  <li class="item"><span class="text-primary">4</span>
                  Employees</li>
                  <li class="item"><span class="text-primary">2</span>
                  Credit/Bank accounts</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 pricing-col" data-scrollreveal=
          "enter right over 1.5s">
            <div class="pricing-table">
              <div class="pricing-heading" style=
              "background-image: url('images/1.jpg')">
                <h2>Pro</h2>
              </div>
              <div class="content">
                <div class="price">
                  <span class="amount">$300</span> <span class="period">per
                  month</span>
                </div>
                <ul class="pricing-items list-unstyled text-center">
                  <li class="item"><span class="text-primary">75</span>
                  Transactions</li>
                  <li class="item"><span class="text-primary">6</span>
                  Employees</li>
                  <li class="item"><span class="text-primary">2</span>
                  Credit/Bank accounts</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 pricing-col" data-scrollreveal=
          "enter right over 1.5s">
            <div class="pricing-table">
              <div class="pricing-heading" style=
              "background-image: url('images/1.jpg')">
                <h2>Ultimate</h2>
              </div>
              <div class="content">
                <div class="price">
                  <span class="amount">$500</span> <span class="period">per
                  month</span>
                </div>
                <ul class="pricing-items list-unstyled text-center">
                  <li class="item"><span class="text-primary">150</span>
                  Transactions</li>
                  <li class="item"><span class="text-primary">8</span>
                  Employees</li>
                  <li class="item"><span class="text-primary">4</span>
                  Credit/Bank accounts</li>
                </ul>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <hr> -->
        <div class="row text-center">
          <div class="col-md-8 col-md-offset-2">
            <h4>All packages include</h4>
          </div>
        </div>
        <div class="row bookkeeping-price-col">
          <div class="col-md-2"></div>
          <div class="col-md-4 pricing-col wow fadeInRight" data-scrollreveal=
          "enter right over 1.5s">
            <div class="pricing-table">
              <div class="content">
                <ul class=
                "pricing-items list-unstyled text-center no-padding-top" style=
                "padding-top:0;">
                  <li class="item"><i class="fa fa-check"></i> Sales tax
                  filling (HST)</li>
                  <li class="item-dark"><i class="fa fa-check"></i> Payroll tax
                  filling</li>
                  <li class="item"><i class="fa fa-check"></i> Expense
                  reports</li>
                  <li class="item-dark"><i class="fa fa-check"></i> Account
                  payable</li>
                  <li class="item"><i class="fa fa-check"></i> Financial
                  statements</li>
                  <li class="item-dark"><i class="fa fa-check"></i> Ledger</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 pricing-col wow fadeInLeft" data-scrollreveal=
          "enter right over 1.5s">
            <div class="pricing-table">
              <div class="content">
                <ul class=
                "pricing-items list-unstyled text-center no-padding-top" style=
                "padding-top:0;">
                  <li class="item"><i class="fa fa-check"></i> Cheques
                  preparation</li>
                  <li class="item-dark"><i class="fa fa-check"></i> Bank
                  reconciliations</li>
                  <li class="item"><i class="fa fa-check"></i> Online Access
                  24/7</li>
                  <li class="item-dark"><i class="fa fa-check"></i>
                  Email/telephone support</li>
                  <li class="item"><i class="fa fa-check"></i> 1 user
                  included</li>
                  <li class="item-dark"><i class="fa fa-check"></i>
                  Hosting</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div><!-- End of row -->
      </div><!-- End of container -->
    </section>
    <!-- <hr class="primary-hr"> -->
    <section class="pricing-1" id="ourPriceOther">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-8 col-md-offset-2">
            <h2>OTHER SERVICES</h2>
            <hr class="primary">
            <!-- <p>Affordable prices for starters to big companies. <a href="#contact">Contact us</a> should you need a different package to suit your business needs.</p> -->
          </div>
        </div><!-- End of row -->
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-4 pricing-col wow fadeInLeft animated"
          data-scrollreveal="enter left over 1.5s" style=
          "visibility: visible;">
            <div class="pricing-table">
              <div class="pricing-heading" style=
              "background-image: url('images/1.jpg')">
                <h2></h2>
              </div>
              <div class="content">
                <ul class=
                "pricing-items list-unstyled text-center no-padding-top" style=
                "padding-top:0;">
                  <li class="item">Incorporation</li>
                  <li class="item-dark">Sole Proprietorship registration</li>
                  <li class="item">HST Registration</li>
                  <li class="item-dark">Payroll Account registration</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 pricing-col wow fadeInRight animated"
          data-scrollreveal="enter right over 1.5s" style=
          "visibility: visible;">
            <div class="pricing-table">
              <div class="pricing-heading" style=
              "background-image: url('images/2.jpg')">
                <h2></h2>
              </div>
              <div class="content">
                <ul class=
                "pricing-items list-unstyled text-center no-padding-top" style=
                "padding-top:0;">
                  <li class="item">Corporate Tax Returns</li>
                  <li class="item-dark">Business Plans</li>
                  <li class="item">Statement of Real Estate Rentals</li>
                  <li class="item-dark">Statement Of Business or Professional
                  Activity</li>
                </ul>
              </div>
            </div>
          </div>
        </div><!-- end of row -->
      </div><!-- End of container -->
    </section><!-- End of section -->
    <!-- CONTACT US -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3>Contact US</h3>            
          </div>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 wow bounceInLeft">
          <p class="mail"><i class="fa fa-map-marker"></i><br>
          <%= @company.address_line_1 %>, <br> <%= @company.address_line_2 %><br>
          <%= @company.city %>, <%= @company.state %>, <%= @company.country %>,<br><%= @company.postal_code %> </p>
        </div>
        <div class="col-md-3 col-sm-3 wow bounceInLeft">
          <p class="mail"><i class="fa fa-phone"></i><br>
          &nbsp; <%= @company.phone_number %></p>
        </div>
        <div class="col-md-3 col-sm-3 wow bounceInLeft">
          <p class="mail"><i class="fa fa-envelope"></i><br>
          <%= @company.email %><br>
          You can e-mail us your documents, mail them or either drop them
          off.</p>
        </div>
        <div class="col-md-3 col-sm-3 wow bounceInLeft">
          <div>
            <p class="mail"><i class="fa fa-clock-o"></i>
          Office Hours:</p>
          </div>
          <div class="office_text">
            <%= simple_format(@company.office_hours) %>
          </div>
        </div>
        <img alt="Quick book certified" class="img-responsive intro-img" src="images/col_new_clients.png">
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Leave us a Message</h3>
        </div>
      </div>
      <div class="row">
        <%= form_for ContactForm.new do |f| %>
          <div class="col-md-12 col-sm-12 wow bounceInRight">
            <form action="#" class="frm" method="post">
              <div class="col-md-6">
                <h4><label for="Name">Full name *</label></h4> <%= f.text_field :name, required: true, style: "height: 50px; width: 100%;" %>
              </div>
              <div class="col-md-6">
                <h4><label for="Email">Email *</label></h4> <%= f.email_field :email, required: true, style: "height: 50px; width: 100%;" %>
              </div>
              <div class="col-md-12">
                <h4><label for="Message">Messages *</label></h4>
                <%= f.text_area :message, as: :text, required: true, placeholder: 'Your message here', style: "height: 150px; width: 100%;" %>
                <%= f.submit 'Send Message', class: "btn btn-primary btn-lg btn-block btn-biru" %>
              </div>
              <div class="hidden">
                <label for="nickname">nickname *</label>
                <%= f.text_field :nickname %>
              </div>
            </form>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-12 footer-social-network">
          <p class="icon-contact">
          <!-- <a href="#"><i class="fa fa-weibo"></i></a> -->
           <a href="https://www.facebook.com/Fortaxcorp"><i class=
          "fa fa-facebook-square"></i></a>
          <!-- <a href=""><i class="fa fa-twitter-square"></i></a>
                     <a href="#"><i class="fa fa-google-plus-square"></i></a>
                     <a href="#"><i class="fa fa-pinterest-square"></i></a> -->
           <a href="https://www.linkedin.com/company/fortax-corp-"><i class=
          "fa fa-linkedin"></i></a></p>
          
        </div>
      </div>
    </div>
    <div class="fluid-wrapper">
      <iframe src=
      "https://www.google.com/maps/embed/v1/place?q=FORTAX++Corp&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"
      style="height:100%;width:100%;border:0;"></iframe>
    </div>
</main>
