<fieldset id="client_data">

  <h2 class="fs-title">Personal Information</h2>
  <h3 class="fs-subtitle"></h3>
  
      <div class="client_information">
        <div class="row">

          <div class="col-md-3 col-xs-12">
            <input type="text" name="email" placeholder="Your Email" class="form-control" required="true"/>
          </div>

          <div class="col-md-3 col-xs-12">
            <input type="text" name="phone_number" placeholder="Your Phone Number" class="form-control"/>
          </div>

          <div class="col-md-3 col-xs-12">    
            <div class="checkbox">         
              <label><input type="checkbox" name="receive_notice_of_assesment"/>Would you like to receive your notice of assessment by email?</label>
            </div>
          </div>

          <div class="col-md-3 col-xs-12">   
            <div class="checkbox">     
              <label><input type="checkbox" name="register_for_direct_deposit" class="form-control">Are you registered for direct deposit?</label>    
            </div>                             
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-4 col-xs-12">
            <input type="text" name="first_name" placeholder="First Name" class="form-control"/>
            <p>*Note: Please use the full name you use for government communication.</p>
          </div>
          <div class="col-md-4 col-xs-12">
            <input type="text" name="last_name" placeholder="Last Name" class="form-control"/>
          </div>

          <div class="col-md-4 col-xs-12">
            <input type="date" name="date_of_birth" class="form-control"/>
          </div>
        </div>
          
        <br>

        <div class="row">
          <div class="col-md-4 col-xs-12">
            <input type="text" name="social_insurance" placeholder="Social Insurance Number" class="form-control"/>
          </div>            
        </div>

        <br>

        <div class="row">
          <div class="col-md-4 col-xs-12">
            <label for="status">Marital Status</label>
            <select name="status"  class="form-control">
              <% OnlineEstimate::STATUSES.each do |status| %>
                <option value="<%= status %>"><%= status %></option>
              <% end %>
            </select>
          </div>

          <div class="col-md-4 col-xs-12">
            <label for="change_in_status_during_year">Have you had a change in status during the year?</label>
            <label class="radio-inline"><input type="radio" name="change_in_status_during_year" id="change-in-status" value="true">Yes</label>
            <label class="radio-inline"><input type="radio" name="change_in_status_during_year" id="change-in-status" value="false">No</label>
          </div>

          <div class="col-xs-12 col-md-4"  >
            <label for="gender">Gender</label>
            <select name="gender" class="form-control">
              <% OnlineEstimate::GENDER.each do |gender| %>
                <option value="<%= gender %>"><%= gender %></option>
              <% end %>
            </select>
          </div>  
        </div>

        <br>
        
        <div id="options-for-change-in-status" style="display: none;">
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <label for="date_of_name_of_status">Date of Status Change</label>
              <input type="date" class="form-control" name="date_of_name_of_status">
            </div>
            <div class="col-md-6 col-xs-12">
              <label for="status_before_date">Marital Status</label>
              <select name="status_before_date" class="form-control">
                <% OnlineEstimate::STATUSES.each do |status| %>
                  <option value="<%= status %>"><%= status %></option>
                <% end %>
              </select>      
            </div>
          </div>
        </div>
                
      </div>

      <input type="button" name="prev" class="prev action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" /> 

</fieldset>