<main class="site-main" id="main">
    <section id="dataClient">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <h1>Get your estimate online here.</h1>
          </div>
          <div class="col-lg-5">
            <h2>Find your cost for tax filing.</h2>
            <p>Put in the number of forms you have to get an estimate.</p>
            <hr>
            <!-- <div class="well well-sm ">
                     <strong style="color:#000;">
                     <i class="fa fa-asterisk"></i> Required Field
                  </strong>
               </div> -->

            <div id="addedData" class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>S.N.</th>
                    <th>Form Type</th>
                    <th>Form Number</th>
                  </tr>
                </thead>
                <tbody id="table-data">
                </tbody>
              </table>
            </div>
            <label for="formAdd" style="font-size:20px;">Add Form:</label>
            <div class="row">
              <div class="col-lg-6">
                <label for="formAdd">Select Form</label>
                <div class="form-group personalInformation">
                  <%= simple_form_for :form, url: '' do |f| %>
                    <%= f.input :form_type, collection: Form::FORM_TYPES.map{|k,v| [k,v]},
                                input_html: {class: 'form-control',id: 'form-select'},label: false,include_blank: false %>
                  <% end %>
                </div>
              </div>
              <div class="col-lg-3 ">
                <label for="numberOfForm">No of Form</label>
                <div class="form-group personalInformation">
                  <input class="form-control" value="1" type="number" id="numberOfForm" min="0">
                </div>
              </div>

              <div class="col-lg-3 text-center">
                <div class="form-group">
                  <button class="addFormButton" type="button" id="form-add">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="alert alert-danger" id="errorMessage">
              <strong>Error! </strong>Select any form or take at list one form.
            </div>
          </div>
          <div class="col-lg-4">
            <h2>Current outstanding bill</h2>
            <p>&nbsp;</p>
            <hr>
            <div class="row">
              <div class="col-md-8 bill-title-col">
                <p>Basic tax return</p>
                <p>eFile Fee</p>
              </div>
              <div class="col-md-4 bill-cost-col" style="align:left;">
                <p id="costDisplay">0</p>
                <p>2.99</p>
              </div>
            </div>
            <div class="row total-row">
              <div class="col-md-6" style=
              "text-align:right; text-transform:uppercase;">
                <p><b>Total: </b><span id="totalCost">2.99</span></p>
              </div>
              <div class="col-md-6" style=
              "text-align:right; text-transform:uppercase;">
                <p><b></b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  <section id="client_data">
    <%= simple_fields_for :infos do |f| %>
      <div class="client_information">
        <%= f.input :first_name, as: :string, label: 'First Name' %>
        <%= f.input :last_name, as: :string, label: 'Last Name' %>
        *Note: Please use the full name you use for government communication.
        <%= f.input :social_insurance, as: :integer %>
        <%= f.input :date_of_birth, as: :date %>
        <%= f.input :status, collection: OnlineEstimate::STATUSES, as: :select %>
        <%= f.input :change_in_status_during_year, as: :radio_buttons,label: 'Change in status during the year?' %>
        <%= f.input :date_of_change_of_status, as: :integer, required: false %>
        <%= f.input :status_before_date, collection: OnlineEstimate::STATUSES, as: :select, required: false %>
        <%= f.input :gender, as: :string %>
        <%= f.input :address_line_1,as: :string, label: 'Number and Street' %>
        <%= f.input :unit, as: :string, required: false %>
        <%= f.input :city, as: :string %>
        <%= f.input :province, as: :string %>
        <%= f.input :country, as: :string %>
        <%= f.input :postal_code, as: :integer %>
        <%= f.input :phone_number, as: :string %>
        <%= f.input :email, as: :email, name: "email" %>
        <%= f.input :receive_notice_of_assessment_by_email, as: :radio_buttons, label: 'Would you like onto receive your notice of assessment by email?' %>
        <%=  f.input :branch, as: :string, input_html: { maxlength: 3} %>
        <%= f.input :financial_institution, as: :string, input_html: { maxlength: 5} %>
        <%= f.input :account, as: :string %>
      </div>

      <div class="spouse_information">
        Information about your spouse:
        <%= f.input :spouse_name, as: :string, label: 'Spouse or common law name' %>
        <%= f.input :spouse_last_name, as: :string, label: 'Last Name' %>
        <%= f.input :spouse_date_of_birth, as: :string, label: 'Date of Birth' %>
        <%= f.input :spouse_social_insurance, as: :integer, label: 'SIN' %>
        <%= f.input :spouse_phone_number, as: :string %>
        <%= f.input :spouse_email, as: :email, name: "email", label: "Email" %>
        Residence:
        <%= f.collection_radio_buttons :residence, [['Owner'], ['Tenant']], :first, :last,label: 'Residence' %>
        <%= f.input :property_tax_paid, as: :float %>
        <%= f.input :rent_paid, as: :float %>
      </div>

      <div class="children_information">
        Children
        <%= f.input :child_name, as: :string %>
        <%= f.input :child_last_name, as: :string %>
        <%= f.input :child_date_of_birth, as: :string %>
        <%= f.input :child_social_insurance, as: :integer, required: false %>
      </div>
      
    <% end %>       
  </section>
</main>