<main class="site-main" id="main">
  <section id="dataClient">
    <form id="msform" action="/online_estimates" method="POST" novalidate enctype="multipart/form-data">

      <ul id="progressbar">
        <li class="active">Forms</li>
        <li>Personal Information</li>
        <li>Contact Information</li>
        <li>Spouse Information</li>
        <li>Extra Information</li>
        <li>Signatures</li>
        
      </ul>

      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
     
      <%= render 'online_estimate' %>   

      <%= render 'client_data' %>
       
      <%= render 'client_contact_info' %>

      <%= render 'spouse_info' %> 
      
      <%= render 'extra_info' %>      

      <%= render 'signatures' %>

      <%= render 'email_modal' %>
      
    </form>
  </section>
</main>

<script type="text/javascript">
function triggerConfirm(box) {  
  if (box.checked) {
    if (confirm("We will contact you for quotes.")) {
        box.checked = true;
    }
  }
}

function changeEmail(){
  $("input[name='email']").value($("placeholder_email").val())
}

$("form").on("submit", function(){
  var emailInput, phoneNumberInput;
  emailInput = $("input[name='email']");
  phoneNumberInput = $("input[name='phone_number']");
  
  emailInput.css('border', 'none');
  phoneNumberInput.css('border', 'none');

  if (!emailInput.val()) {
    alert('Please enter your email address.');
    emailInput.css('border', '1px solid red');
    return false;
  }
  else if (!phoneNumberInput.val()) {
    alert('Please enter your phone number.')
    phoneNumberInput.css('border', '1px solid red');
    return false;
  }
})
</script>