<main class="site-main" id="main">
  <section id="dataClient">
  <form id="msform">
    <!-- progressbar -->
    <ul id="progressbar">
      <li class="active">Personal Information</li>
      <li>Contact Information</li>
      <li>Forms</li>
    </ul>
    <%= simple_fields_for :infos do |f| %>
      <!-- <section id="client_data"> -->
        <div class="row">
          <!-- fieldsets -->
          <fieldset>
            <h2 class="fs-title">Personal Information</h2>
            <h3 class="fs-subtitle"></h3>
            <div class="client_information">
              <div class="col-md-6 col-xs-12">
                <%= f.input :first_name, as: :string, placeholder: 'First Name', label: false %>
              </div>
              <div class="col-md-6 col-xs-12">
                <%= f.input :last_name, as: :string, placeholder: 'Last Name', label: false %>
              </div>
              <div class="col-md-12 col-xs-12">
              <p style="text-align: center;">*Note: Please use the full name you use for government communication.</p>
              </div>
              <div class="col-md-12 col-xs-12">
              <%= f.input :social_insurance, as: :string, placeholder: 'Social Insurance Number', label: false %>
              </div>
              <div class="col-md-6 col-xs-12">
                <%= f.input :date_of_birth, as: :date %>
              </div>
              <div class="col-md-6 col-xs-12">
                <%= f.input :status, collection: OnlineEstimate::STATUSES, as: :select %>
              </div>
              <div class="col-md-12 col-xs-12">
                <%= f.input :change_in_status_during_year, as: :radio_buttons,label: 'Change in status during the year?',id: 'change-in-status' %>
              </div>
              <div id="options-for-change-in-status" class="col-md-12 col-xs-12" style="display: none;">
                <div class="col-md-6 col-xs-12">
                  <%= f.input :date_of_change_of_status, as: :date, required: false %>
                </div>
                <div class="col-md-6 col-xs-12">
                  <%= f.input :status_before_date, collection: OnlineEstimate::STATUSES, as: :select, required: false %>
                </div>
              </div>
              <div class="col-md-12 col-xs-12">
                <%= f.input :gender, as: :string %>
              </div>
              
              </div>
            </div>


            <div class="spouse_information col-md-12  col-xs-12">
              <div class="col-md-12 col-xs-12">
                Information about your spouse:
              </div>
              <div class="col-md-6 col-xs-12">
                <%= f.input :spouse_name, as: :string, placeholder: 'Spouse or common law name', label: false %>
              </div>
              <div class="col-md-6 col-xs-12">
                <%= f.input :spouse_last_name, as: :string, placeholder: 'Last Name', label: false %>
              </div>
              <div class="col-md-6 col-xs-12">
                <%= f.input :spouse_date_of_birth, as: :string, placeholder: 'Date of Birth', label: false %>
              </div>
              <div class="col-md-6 col-xs-12">
                <%= f.input :spouse_social_insurance, as: :integer, placeholder: 'Social Insurance Number', label: false %>
              </div>
              <div class="col-md-6 col-xs-12">
                <%= f.input :spouse_phone_number, as: :string, placeholder: 'Phone Number', label: false %>
              </div>
              <div class="col-md-6 col-xs-12">
                <%= f.input :spouse_email, as: :email, name: "email", placeholder: "Email Address", label: false %>
              </div>

              <div>
                <div class="col-md-12 col-xs-12">  
                  Residence:
                  <%= f.collection_radio_buttons :residence, [['Owner'], ['Tenant']], :first, :last,label: 'Residence' %>
                </div>
                <div class="col-md-12 col-xs-12" style="display: none;" id="property-tax">
                  <%= f.input :property_tax_paid, as: :float, placeholder: 'Property Tax Paid', label: false %>
                </div>
                <div class="col-md-12 col-xs-12" style="display: none;" id="rent-paid">
                  <%= f.input :rent_paid, as: :float, placeholder: 'Rent paid during year (12 months)', label: false %>
                </div>
              </div>
            </div>

            <div class="children_information col-md-12  col-xs-12">
              <div class="col-md-12 col-xs-12">
                Children
              </div>
              <div class="col-md-6 col-xs-12">
                <%= f.input :child_name, as: :string, placeholder: 'First Name', label: false %>
              </div>
              <div class="col-md-6 col-xs-12">
                <%= f.input :child_last_name, as: :string, placeholder: 'Last Name', label: false %>
              </div>
              <div class="col-md-6 col-xs-12">
                <%= f.input :child_date_of_birth, as: :date, placeholder: 'Date of Birth', label: false %>
              </div>
              <div class="col-md-6 col-xs-12">
                <%= f.input :child_social_insurance, as: :integer, required: false, placeholder: 'Social Insurance Number (should you have it)', label: false %>
              </div>
            </div>
          <input type="button" name="next" class="next action-button" value="Next" />

          </fieldset>
        </div>
      <!-- </section> -->

      <!-- <section id="client_contact_information"> -->
        <div class="row">
          <fieldset>
              <h2 class="fs-title">Contact Information</h2>
              <h3 class="fs-subtitle"></h3>
              <div class="col-md-12 col-xs-12">          
                <p> Full Address </p>
                <%= f.input :address_line_1,as: :string, placeholder: 'Number and Street', label: false %>
              </div>
              <div class="col-md-4 col-xs-12">
                <%= f.input :unit, as: :string, required: false, placeholder: 'Unit', label: false %>
              </div>
              <div class="col-md-4 col-xs-12">
                <%= f.input :city, as: :string, placeholder: 'City', label: false %>
              </div>
              <div class="col-md-4 col-xs-12">
                <%= f.input :province, as: :string, placeholder: 'Province', label: false %>
              </div>
              <div class="col-md-6 col-xs-12">
                <%= f.input :country, as: :string, placeholder: 'Country', label: false %>
              </div>
              <div class="col-md-6 col-xs-12">
                <%= f.input :postal_code, as: :integer,placeholder: 'Postal Code', label: false %>
              </div>

              <div class="col-md-12 col-xs-12">
                <%= f.input :sign_document, as: :boolean, label: 'You will have to sign a document and download it with your return.' %>
                <p>(Make sure you have access to a printer.)</p>
              </div>

              <div class="col-md-6 col-xs-12">
                <%= f.input :phone_number, as: :string, placeholder: 'Phone Number', label: false %>
              </div>
              <div class="col-md-6 col-xs-12">
                <%= f.input :email, as: :email, name: "email", placeholder: 'Email Address', label: false %>
              </div>
              <div class="col-md-12 col-xs-12">
                <%= f.input :receive_notice_of_assessment_by_email, as: :radio_buttons, label: 'Would you like onto receive your notice of assessment by email?' %>
              </div>

              <div class="col-md-12 col-xs-12">
                <%= f.input :register_for_direct_deposit, as: :radio_buttons, label: 'Are you registered for direct deposit?' %>
              </div>

              <div id="options-for-bank-info" style="display: none;">
                <p>If you are not and want to receive your government payment by direct deposit, please enter your bank information</p>
                <div class="col-md-4 col-xs-12">
                  <%=  f.input :branch, as: :string, input_html: { maxlength: 5}, placeholder: 'Branch', label: false %>
                </div>
                <div class="col-md-4 col-xs-12">
                  <%= f.input :financial_institution, as: :string, input_html: { maxlength: 3}, placeholder: 'Financial Institution', label: false %>
                </div>
                <div class="col-md-4 col-xs-12">
                  <%= f.input :account, as: :string, placeholder: 'Account', label: false %>
                </div>
              </div>
            <input type="button" name="next" class="next action-button" value="Next" />
            </fieldset>
          </div>
      <!-- </section> -->

      <!-- <section id="dataClient"> -->
          <div class="container">
            <fieldset>
              <div class="row">
                <div class="col-lg-3">
                  <h1>Get your estimate online here.</h1>
                </div>
                <div class="col-lg-5">
                  <h2>Find your cost for tax filing.</h2>
                  <p>Put in the number of forms you have to get an estimate.</p>
                  <hr>
                  <div id="addedData" class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Form Type</th>
                          <th>Form Number</th>
                          <th>Cost(Per each)</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody id="table-data">
                      </tbody>
                    </table>
                  </div>
                  <span style="font-size:20px;font-weight:bold;">Add Form:</span>
                  <div class="row">
                    <div class="col-lg-6">
                      <label for="form-select">Select Form</label>
                      <div class="form-group personalInformation">
                        <%= simple_form_for :form, url: '' do |f| %>
                          <%= f.input :form_type, collection: Form::FORM_TYPES.map{|k,v| [k,v[0], data: {cost: v[1]},id: k]},
                                      input_html: {class: 'form-control',id: 'form-select'},label: false,include_blank: false %>
                        <% end %>
                      </div>
                    </div>
                    <div class="col-lg-3 ">
                      <label for="numberOfForm">No of Form</label>
                      <div class="form-group personalInformation">
                        <input class="form-control" value="1" type="number" id="numberOfForm" min="1">
                      </div>
                    </div>

                    <div class="col-lg-3 text-center">
                      <div class="form-group">
                        <button class="addFormButton" type="button" id="form-add">
                          <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>


                  <div class="alert alert-danger" id="errorMessage">
                    <strong>Error! </strong>Select at least one form.
                  </div>
                  <div class="bg-info info">
                    <div class="info-icon">
                      <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="info-desc">
                      The Basic tax return form contains two T4 form and
                      one T4A, T4A(OAS), T4A(P), T4E, T5, T5007, and two
                      Medical expense forms.
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <h2>Current outstanding bill</h2>
                  <p>&nbsp;</p>
                  <hr>
                  <div class="row">
                    <div class="col-md-8 bill-title-col">
                      <p>Basic tax return</p>
                      <p>eFile Fee</p>
                    </div>
                    <div class="col-md-4 bill-cost-col" style="align:left;">
                      <p id="costDisplay">0</p>
                      <p>2.99</p>
                    </div>
                  </div>
                  <div class="row total-row">
                    <div class="col-md-6" style=
                    "text-align:right; text-transform:uppercase;">
                      <p><b>Total: </b><span id="totalCost">2.99</span></p>
                    </div>
                    <div class="col-md-6" style=
                    "text-align:right; text-transform:uppercase;">
                      <p><b></b></p>
                    </div>
                  </div>
                </div>
              </div>
            <input type="submit" name="submit" class="submit action-button" value="Submit" />

            </fieldset>
            </div>
      <!-- </section> -->
    <% end %> 
    </form>
    </section>
</main>